APP_HOST=0.0.0.0
APP_PORT=3052

TTLOCK_BASE_URL=https://euapi.ttlock.com
TTLOCK_CLIENT_ID=your_client_id
TTLOCK_CLIENT_SECRET=your_client_secret
TTLOCK_USERNAME=your_ttlock_app_login
TTLOCK_PASSWORD_MD5=your_md5_password
TTLOCK_LOCK_ID=20624442

TTLOCK_DEFAULT_PERMANENT=true
DATA_DIR=./data
DEBUG_TTLOCK=false
